/*Sets the style of the page (ex. color, position, font, etc)*/

body {
    background-color: blueviolet;
}

#selector {
    display: flex;
    flex-direction: column;

    width: 50%;

    text-align: center;
    align-content: center;
}

#sendFile {
    max-width: 50px;
}

.small-border {
    border: 2px solid black;
    margin: 5px;
}